<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Upload File</h4>
            <p class="card-category">Upload File Order</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <input type="file" (change)="onFileChanged($event)"/>
                </div>
              </div>              
              <button mat-raised-button type="button" class="btn btn-success pull-right" [disabled]="clicked" (click)="upload();">Upload</button>
              <button mat-raised-button type="button" class="btn btn-success pull-right" [disabled]="clicked" (click)="back();">Back</button>
              <div class="clearfix"></div>              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>