<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Order</h4>
            <p class="card-category">List of order</p>
          </div>
          <div class="card-body table-responsive">            
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Brand" type="text" [(ngModel)]="brand" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Market" type="text" [(ngModel)]="market" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Order No" type="text" [(ngModel)]="orderNo" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
            </div>            
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sku" type="text" [(ngModel)]="sku" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Item" type="text" [(ngModel)]="item" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
            </div>          
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" type="text" [(ngModel)]="name" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Hp" type="text" [(ngModel)]="hp" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Awb" type="text" [(ngModel)]="awb" (keyup.enter)="getOrderList(null)">
                </mat-form-field>
              </div>
            </div>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Market</th>
                  <th scope="col">Order No</th>
                  <th scope="col">Sku</th>
                  <th scope="col">Item</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Paid Total</th>
                  <th scope="col">Name</th>
                  <th scope="col">Hp</th>
                  <th scope="col">Awb</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tbOrder of getOrderListResponse.lstTbOrder; let i = index">
                  <td scope="row">{{i + 1 + (pageSize * pageIndex)}}</td>
                  <td>{{tbOrder.tboBrand}}</td>
                  <td>{{tbOrder.tboMarket}}</td>
                  <td>{{tbOrder.tboOrderNo}}</td>
                  <td>{{tbOrder.tboSku}}</td>
                  <td title="{{tbOrder.tboItem}}">{{tbOrder.tboItemShort}}</td>
                  <td>{{tbOrder.tboQty}}</td>
                  <td>{{tbOrder.tboPaidTotal}}</td>
                  <td title="{{tbOrder.tboName}}">{{tbOrder.tboNameShort}}</td>
                  <td>{{tbOrder.tboHp}}</td>
                  <td>{{tbOrder.tboAwb}}</td>
                  <td>
                    <input type="button" class="btn btn-warning" value="view" [disabled]="clicked" [routerLink]="['/order-edit', tbOrder.tboId]"/>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
            <input type="button" class="btn btn-success pull-right" value="Add" [disabled]="clicked" (click)="orderAdd();" />
            <input type="button" class="btn btn-success pull-right" value="Upload File" [disabled]="clicked" (click)="uploadFile();" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>