<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Gwp Add</h4>
            <p class="card-category">Add new Gwp</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-8">                  
                  <mat-form-field>
                    <mat-label>Gwp Product</mat-label>
                    <mat-select [(ngModel)]="postGwpAddRequest.tbgSku" name="tbgSku">
                        <mat-option *ngFor="let lstTbProduct of getGwpProductResponse.lstTbProduct" [value]="lstTbProduct.tbpSku">
                          {{lstTbProduct.tbpSku}} - {{lstTbProduct.tbpItem}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-default" type="button" (click)="addFieldValue()">Add Sellable</button>
                </div>
              </div>
              <div class="row" *ngFor="let tbGwpSku_ of postGwpAddRequest.tbGwpSku; let i = index">
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-select placeholder="Sellable Product" [(ngModel)]="tbGwpSku_.tbgsSku" name="tbgsSku{{i}}">
                      <mat-option *ngFor="let lstTbProduct of getSellableProductResponse.lstTbProduct" [value]="lstTbProduct.tbpSku" title="{{lstTbProduct.tbpSku}} - {{lstTbProduct.tbpItem}}">
                        {{lstTbProduct.tbpSku}} - {{lstTbProduct.tbpItem}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <input matInput [(ngModel)]="tbGwpSku_.tbgsMin" name="tbgsMin{{i}}" placeholder="Minimum Purchase Amount">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <input matInput [(ngModel)]="tbGwpSku_.tbgsMinAccu" name="tbgsMinAccu{{i}}" placeholder="Minimum Purchase Amount Accumulated">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <mat-form-field>
                    <input matInput [(ngModel)]="tbGwpSku_.tbgsQty" name="tbgsQty{{i}}" placeholder="Quantity Of Gwp">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">X</button>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]="clicked" (click)="save();">Save</button>
              <button mat-raised-button type="button" class="btn btn-success pull-right" [disabled]="clicked" (click)="back();">Back</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>