<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Order Add</h4>
            <p class="card-category">Add new order</p>
          </div>
          <div class="card-body">
            <form>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Row" type="text" [(ngModel)]="postOrderAddRequest.tboRow" name="tboRow">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Brand" type="text" [(ngModel)]="postOrderAddRequest.tboBrand" name="tboBrand">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Market" type="text" [(ngModel)]="postOrderAddRequest.tboMarket" name="tboMarket">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="QC ID" type="text" [(ngModel)]="postOrderAddRequest.tboQcId" name="tboQcId">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="SEQ" type="text" [(ngModel)]="postOrderAddRequest.tboSeq" name="tboSeq">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Max SEQ" type="text" [(ngModel)]="postOrderAddRequest.tboMaxSeq" name="tboMaxSeq">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Order SQ" type="text" [(ngModel)]="postOrderAddRequest.tboOrderSq" name="tboOrderSq">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Order No" type="text" [(ngModel)]="postOrderAddRequest.tboOrderNo" name="tboOrderNo">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="SKU" type="text" [(ngModel)]="postOrderAddRequest.tboSku" name="tboSku">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ITEM" type="text" [(ngModel)]="postOrderAddRequest.tboItem" name="tboItem">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Code" type="text" [(ngModel)]="postOrderAddRequest.tboCode" name="tboCode">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="LOC" type="text" [(ngModel)]="postOrderAddRequest.tboLoc" name="tboLoc">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Qty" type="text" [(ngModel)]="postOrderAddRequest.tboQty" name="tboQty">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Diskon from Market" type="text" [(ngModel)]="postOrderAddRequest.tboDiskonFromMarket" name="tboDiskonFromMarket">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Unit Price" type="text" [(ngModel)]="postOrderAddRequest.tboUnitPrice" name="tboUnitPrice">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Diskon Total" type="text" [(ngModel)]="postOrderAddRequest.tboDiskonTotal" name="tboDiskonTotal">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="PAID Total" type="text" [(ngModel)]="postOrderAddRequest.tboPaidTotal" name="tboPaidTotal">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Order SUM" type="text" [(ngModel)]="postOrderAddRequest.tboOrderSum" name="tboOrderSum">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" type="text" [(ngModel)]="postOrderAddRequest.tboName" name="tboName">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="HP" type="text" [(ngModel)]="postOrderAddRequest.tboHp" name="tboHp">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address1" type="text" [(ngModel)]="postOrderAddRequest.tboAddress1" name="tboAddress1">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address2" type="text" [(ngModel)]="postOrderAddRequest.tboAddress2" name="tboAddress2">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address3" type="text" [(ngModel)]="postOrderAddRequest.tboAddress3" name="tboAddress3">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address4" type="text" [(ngModel)]="postOrderAddRequest.tboAddress4" name="tboAddress4">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address5" type="text" [(ngModel)]="postOrderAddRequest.tboAddress5" name="tboAddress5">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Awb" type="text" [(ngModel)]="postOrderAddRequest.tboAwb" name="tboAwb">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-warning pull-right" [disabled]="clicked" (click)="save();">Save</button>
              <button mat-raised-button type="button" class="btn btn-success pull-right" [disabled]="clicked" (click)="back();">Back</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>